---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import BaseHead from "@/layouts/BaseHead.astro";
import MetaData from "@/layouts/MetaData.astro";
import "../styles/global.css";

export type Props = {
  title: string;
  description: string;
  type: "article" | "website";
  publishedTime?: Date;
  image?: string;
};

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, type, publishedTime } = Astro.props;
---

<html lang="en">
  <BaseHead>
    <MetaData
      canonicalURL={canonicalURL}
      title={title}
      description={description}
      image={"og.png"}
      type={type}
      publishedTime={publishedTime}
    />
  </BaseHead>
  <body class="min-h-screen bg-background font-sans antialiased">
    <div class="flex min-h-screen flex-col">
      <Header />
      <slot />
      <Footer />
    </div>
  </body>
</html>
